<li class="clearfix">

		<div class="place" title="Votes">
			<%=folge.votes.count%>
		</div>

		<div class="info">
			<h2><a href="<%=folge.link%>">#<%=folge.nummer%>: <%=folge.title%></a></h3>
		</div>

		<% if @logged_in then %>
		<a class="vote" href="/vote?id=<%=folge.id%>">Vote!</a>
		<% end %>

</li>